* body {
  background-color: black;
  height: 100vh;
  font-family: Basis Grotesque Pro, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  display: flex;
  justify-self: flex-end;
  width: 300px;
  margin-top: auto;
  border-radius: 20px;
  padding: 20px;
  transition: width 0.3s ease-out, background-color 0.3s ease-out,
    font-size 0.3s ease-out;
  font-size: 20px;
  color: white;
}

nav ul:hover {
  width: 305px;
  background-color: rgba(255, 209, 0, 0.5);
  font-size: 21px;
}

nav li:hover {
  text-decoration: underline;
}

li {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

img {
  max-width: 100px;
  transform: rotateY(180deg);
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  margin-top: 5px;
  height: 50px;
  margin-right: 25px;
}

.logo-container {
  width: 0%;
  bottom: 0;
}

.hummingbird {
  width: 100%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-top: 200px;
}

.hummingbird h1 {
  font-size: 60px;
  padding-bottom: 25px;
  margin-bottom: 0;
  word-spacing: 3px;
}

.hummingbird h4 {
  font-weight: lighter;
  font-size: 20px;
  word-spacing: 3px;
  padding-bottom: 200px;
}

.first {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1500px;
  background-color: black;
  border-radius: 35px;
}

.background-logo img {
  max-width: 250px;
  padding-top: 200px;
  height: 400px;
  transform: scale(1, 1);
}

.background-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.background-logo h1 {
  color: white;
  font-size: 200px;
  margin: 30px 20px 0px 20px;
}

.banner {
  transform: scale(-1, 1);

  height: 100px;
  background-color: rgb(232, 231, 231);
  text-align: center;
}

.banner img {
  margin-top: 30px;
}
